


	<div id="outerDiv">
		
		<div id="booth" ng-include="'assets/BoothMap.svg'" style='z-index: 1'></div>	
		<div id="sensors" ng-bind-html="result" style='z-index: 2'></div>
	</div>

	<div id='footer'>


    <span><button ngClick="test()" type="button" class="btn btn-default">Leak</button></span>
    <span><button ngClick="test()" type="button" class="btn btn-default">Valve</button></span>
    <span><button ngClick="test()" type="button" class="btn btn-default">Over</button></span>
    <span><button ngClick="test()" type="button" class="btn btn-default">Under</button></span>
    <span><button ngClick="test()" type="button" class="btn btn-default">Life</button></span>


	</div>





