


	<div id="outerDiv">
		
		<div id="booth" ng-include="'assets/BoothMap.svg'" style='z-index: 1'></div>	
		<div id="sensors" ng-bind-html="result" style='z-index: 2'></div>
	</div>

	<div id='footer'>

<div>
    <span><button ngClick="test()" type="button" class="btn btn-default">Leak</button></span>
    <span><button ngClick="test()" type="button" class="btn btn-default">Valve</button></span>
    <span><button ngClick="test()" type="button" class="btn btn-default">Over</button></span>
    <span><button ngClick="test()" type="button" class="btn btn-default">Under</button></span>
    <span><button ngClick="test()" type="button" class="btn btn-default">Life</button></span>

</div>

	
		<p></p>
		<ul>
		      <li ng-repeat="(key, value) in valve[0]">{{key}}: {{value}}</li>
		</ul>
		<canvas id="canvas0" width="640" height="80"></canvas>
		
		<p></p>
		
		<ul>
		       <li ng-repeat="(key, value) in valve[1]">{{key}}: {{value}}</li>
		</ul>
		<canvas id="canvas1" width="640" height="80"></canvas>
		
		<p></p>
		
		<ul>
		        <li ng-repeat="(key, value) in valve[2]">{{key}}: {{value}}</li>
		</ul>
		<canvas id="canvas2" width="640" height="80"></canvas>
		
		<p></p>
		
		<ul>
		        <li ng-repeat="(key, value) in valve[3]">{{key}}: {{value}}</li>
		</ul>
		<canvas id="canvas3" width="640" height="80"></canvas>
		
		<p></p>
	
	</div>





